<div class="column wrapper" fxLayout="column wrap" fxLayoutAlign="space-around">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                 <input class="column reg-el"  formControlName="email" type="email" placeholder="Email">
                 <input class="column reg-el"  formControlName="pass" type="password" placeholder="Password">
                 <button class="column reg-el" type="submit">Login</button>
        </form>
        <h1>takkk</h1>
        <h2>nieeeee</h2>
        <a routerLink="/reg">Go to reg</a>
</div>


